body {
  background-color: rgb(146, 83, 83);
/* Use a system font, if none are available use an available sans-sarif   font */
font-family: 'Creepster', cursive;
margin: 0;
height: 100vh;
display: flex;
flex-direction: column;
}

section.board {
height: 100%;
width: 100%;
height: 580px;
width: 675px;
background-color: rgb(9, 9, 143);
display: grid;
grid-template-rows: repeat(6, 10vmin);
grid-template-columns: repeat(7, 10vmin);
grid-gap: 0vmin;
}

div {
border: 3px solid rgb(10, 3, 3);
font-size: 8vmin;
text-align: center;
/* vertical-align: middle; */
}

.tile {
font-size: 70px;
padding: 0 0 10px 0;
}

#reset {
  margin: 10px;
}